<!DOCTYPE html>
<html lang="en" ng-app="Marijuana">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=10" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="SPA for Fetch, List, Install and Uninstall chocolatey Packages" />
  <meta name="author" content="Nickson Jeanmerson & Stefferson Thallys" />
  <meta property="og:title" content="Brownie Marijuana - v0.1" />
  <meta property="og:type" content="WebApp" />
  <meta property="og:url" content="https://github.com/nicksonjean/WebAppChocoManager" />
  <meta property="og:description" content="WebApp for Fetch, List, Install and Uninstall chocolatey Packages" />
  <meta property="og:image" content="./assets/favicon/favicon.png" />
  <link rel="icon" href="./assets/favicon/favicon.ico" />
  <link rel="icon" href="./assets/favicon/favicon.svg" type="image/svg+xml" />
  <title>Brownie Marijuana - v0.1</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css" />
  <link rel="stylesheet" href="./assets/css/bootstrap-v4.3.1.css" type="text/css" />
  <link rel="stylesheet" href="./assets/css/bootstrap-v5.0.2.css" type="text/css" />
  <link rel="stylesheet" href="./assets/css/style.css" type="text/css" />
  <script type="text/vbscript">
      Sub window_onload()
        'CenterWindow 520, 600
        'TheaterMode()
        htaConsole.toggle()
      End Sub
      Sub TheaterMode()
        window.resizeTo screen.availWidth,screen.availHeight
        window.moveTo 0, 0
      End Sub
      Sub CenterWindow( widthX, heightY )
        self.ResizeTo widthX, heightY
        self.MoveTo (screen.availWidth - widthX)/2, (screen.availHeight - heightY)/2
      End Sub
    </script>
</head>

<body>
  <script src="./assets/js/HTAConsole.js"></script>
  <script src="./assets/js/Ajax.js"></script>
  <script src="./assets/js/FetchChocoRemote.js"></script>
  <script type="text/vbscript" src="./libs/Functions.vbs"></script>
  <script type="text/vbscript" src="./libs/Extensions/Run.vbs"></script>
  <script type="text/vbscript" src="./Main.vbs"></script>

  <div class="container-fluid p-0 m-0" style="background-color: black;">
    <div class="container-xxl px-0" style="background-color: blue;">
      <div ng-controller="remotelyPackagesController" style="background-color: plum;">
        <div class="row m-2 align-items-center" style="background-color: yellow;">
          <div class="col-lg-6 col-md-8 px-0 mx-auto" style="background-color: red;">
            <label for="packageSearch" class="m-0">Pacotes</label>
            <div class="input-group search">
              <input type="text" class="form-control shadow-none" id="packageSearch" placeholder="Localize Pacotes" />
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" ng-click="doSearch()">Buscar <i
                    class="fa fa-search"></i></button>
              </div>
            </div>
            <small id="packageSearchHelpBlock" class="form-text text-muted m-0"> {{ errorMessage }} </small>
          </div>
        </div>
      </div>

      <div ng-controller="installedPackagesController">
        <div ng-repeat="item in installedApps" class="row align-items-center mx-0 px-1"
          style="background-color: magenta;">
          <div ng-repeat="(key, value) in item" class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 px-1 py-1"
            style="background-color: red;">
            <div class="card" style="background-color: peru">
              <div class="row no-gutters mx-0" style="background-color: green;">
                <div class="col-auto text-right p-2 align-items-center d-flex justify-content-center div-img">
                  <img src="{{ value.packageIcon }}" />
                </div>
                <div class="col text-left align-items-center d-flex justify-content-center">
                  <div class="card-body pb-0 pl-0 pl-lg-0 pr-2 pt-2">
                    <h6 class="card-title fw-normal">{{ value.packageName }} - {{ value.packageVersion }}</h6>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-white px-2">
                <div class="input-group">
                  <input type="text" class="form-control shadow-none" id="packageSearch" readonly
                    value="{{ value.packageCommand }}" />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fa fa-copy"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/vbscript">
      Sub Msg(byval key, byval value)
        MsgBox key & ":" & value, vbInformation, "VBScript!"
      End Sub
    </script>
  <script type="text/javascript">
    var app = angular.module("Marijuana", []);
    app.controller("installedPackagesController", [
      "$scope",
      function ($scope) {
        return ($scope.installedApps = JSON.parse(InstalledPackages));
      },
    ]);
    app.controller("remotelyPackagesController", [
      "$scope",
      function ($scope) {
        $scope.ruleSearch = function (packageSearched) {
          if (packageSearched.trim().length === 0) {
            $scope.errorMessage = "Busca não preenchida!";
            $scope.remotelyApps = null;
          } else if (packageSearched.trim().length <= 3) {
            $scope.errorMessage = "Busca inferior a três caracteres!";
            $scope.remotelyApps = null;
          } else {
            var packageName = fetchPackageList(packageSearched);
            $scope.errorMessage = null;
            $scope.remotelyApps = RemotelyPackages;
          }
          return $scope;
        };
        $scope.doSearch = function () {
          return $scope.ruleSearch(document.getElementById("packageSearch").value);
        };
      },
    ]);
  </script>
  <!--[if gte IE 9]><!-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
  <!--<![endif]-->
  <!--[if IE 9]>
      <script src="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie9.min.js"></script>
    <![endif]-->
  <!--[if lte IE 8]>
      <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
      <script src="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/js/bootstrap-ie8.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.js"></script>
    <![endif]-->
</body>

</html>