<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="bootstrap-v4.3.1.css" type="text/css" />
    <link rel="stylesheet" href="bootstrap-v5.0.2.css" type="text/css" />
  </head>

  <body>
    <div class="container-fluid p-0 m-0">
      <div class="container-xxl px-0">
        <div class="row m-2 align-items-center">
          <div class="col-lg-6 col-md-8 px-0 mx-auto">
            <label for="packageSearch" class="m-0">Pacotes</label>
            <div class="input-group">
              <input type="text" class="form-control shadow-none" id="packageSearch" placeholder="Localize Pacotes" />
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" ng-click="doSearch()">Buscar <i class="fa fa-search"></i></button>
              </div>
            </div>
            <small id="packageSearchHelpBlock" class="form-text text-muted m-0"> {{ errorMessage }} </small>
          </div>
        </div>

        <div class="row align-items-center mx-0 px-1">
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 px-1 py-1">
            <div class="card">
              <div class="row no-gutters mx-0">
                <div class="col-auto text-right p-2 align-items-center d-flex justify-content-center">
                  <img height="50" width="50" src="https://tarkhov.github.io/postboot/assets/img/thumbnail.jpg" />
                </div>
                <div class="col text-left align-items-center d-flex justify-content-center">
                  <div class="card-body pb-0 pl-0 pl-lg-0 pr-2 pt-2">
                    <h6 class="card-title fw-normal">March 2014 servicing stack update for Windows 8.1 and Windows Server 2012 R2 (KB2919442)</h6>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-white px-2">
                <div class="input-group">
                  <input type="text" class="form-control shadow-none" id="packageSearch" readonly value="> choco install maconha" />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fa fa-copy"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 px-1 py-1">
            <div class="card">
              <div class="row no-gutters mx-0">
                <div class="col-auto text-right p-2 align-items-center d-flex justify-content-center">
                  <img height="50" width="50" src="https://tarkhov.github.io/postboot/assets/img/thumbnail.jpg" />
                </div>
                <div class="col text-left align-items-center d-flex justify-content-center">
                  <div class="card-body pb-0 pl-0 pl-lg-0 pr-2 pt-2">
                    <h6 class="card-title fw-normal">March 2014 servicing stack update for Windows 8.1 and Windows Server 2012 R2 (KB2919442)</h6>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-white px-2">
                <div class="input-group">
                  <input type="text" class="form-control shadow-none" id="packageSearch" readonly value="> choco install maconha" />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fa fa-copy"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 px-1 py-1">
            <div class="card">
              <div class="row no-gutters mx-0">
                <div class="col-auto text-right p-2 align-items-center d-flex justify-content-center">
                  <img height="50" width="50" src="https://tarkhov.github.io/postboot/assets/img/thumbnail.jpg" />
                </div>
                <div class="col text-left align-items-center d-flex justify-content-center">
                  <div class="card-body pb-0 pl-0 pl-lg-0 pr-2 pt-2">
                    <h6 class="card-title fw-normal">March 2014 servicing stack update for Windows 8.1 and Windows Server 2012 R2 (KB2919442)</h6>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-white px-2">
                <div class="input-group">
                  <input type="text" class="form-control shadow-none" id="packageSearch" readonly value="> choco install maconha" />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fa fa-copy"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 px-1 py-1">
            <div class="card">
              <div class="row no-gutters mx-0">
                <div class="col-auto text-right p-2 align-items-center d-flex justify-content-center">
                  <img height="50" width="50" src="https://tarkhov.github.io/postboot/assets/img/thumbnail.jpg" />
                </div>
                <div class="col text-left align-items-center d-flex justify-content-center">
                  <div class="card-body pb-0 pl-0 pl-lg-0 pr-2 pt-2">
                    <h6 class="card-title fw-normal">March 2014 servicing stack update for Windows 8.1 and Windows Server 2012 R2 (KB2919442)</h6>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-white px-2">
                <div class="input-group">
                  <input type="text" class="form-control shadow-none" id="packageSearch" readonly value="> choco install maconha" />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fa fa-copy"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 px-1 py-1">
            <div class="card">
              <div class="row no-gutters mx-0">
                <div class="col-auto text-right p-2 align-items-center d-flex justify-content-center">
                  <img height="50" width="50" src="https://tarkhov.github.io/postboot/assets/img/thumbnail.jpg" />
                </div>
                <div class="col text-left align-items-center d-flex justify-content-center">
                  <div class="card-body pb-0 pl-0 pl-lg-0 pr-2 pt-2">
                    <h6 class="card-title fw-normal">March 2014 servicing stack update for Windows 8.1 and Windows Server 2012 R2 (KB2919442)</h6>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-white px-2">
                <div class="input-group">
                  <input type="text" class="form-control shadow-none" id="packageSearch" readonly value="> choco install maconha" />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fa fa-copy"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 px-1 py-1">
            <div class="card">
              <div class="row no-gutters mx-0">
                <div class="col-auto text-right p-2 align-items-center d-flex justify-content-center">
                  <img height="50" width="50" src="https://tarkhov.github.io/postboot/assets/img/thumbnail.jpg" />
                </div>
                <div class="col text-left align-items-center d-flex justify-content-center">
                  <div class="card-body pb-0 pl-0 pl-lg-0 pr-2 pt-2">
                    <h6 class="card-title fw-normal">March 2014 servicing stack update for Windows 8.1 and Windows Server 2012 R2 (KB2919442)</h6>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-white px-2">
                <div class="input-group">
                  <input type="text" class="form-control shadow-none" id="packageSearch" readonly value="> choco install maconha" />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fa fa-copy"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
      ></script>
    </div>
  </body>
</html>
