body {
  transition: all 0.3s ease-in-out;
  scrollbar-base-color: #c0c0c0;
  scrollbar-face-color: #cccccc;
  scrollbar-3dlight-color: #c0c0c0;
  scrollbar-highlight-color: #c0c0c0;
  scrollbar-track-color: #ffffff;
  scrollbar-arrow-color: rgb(211, 211, 211);
  scrollbar-shadow-color: #c0c0c0;
  scrollbar-dark-shadow-color: #c0c0c0;
}

.li-img {
  width: 50px;
  height: 60px;
}

.div-img {
  width: 50px;
  height: 60px;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
}

li {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  transition: all 0.3s ease-in-out;
}

li:hover {
  background-color: #e9ecef;
  border-color: #0b5ed7 !important;
  border-radius: 5px;
  z-index: 100;
}

.animation {
  transition: all 0.3s ease-in-out;
  -moz-box-shadow: 0px 0px 20px 0px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(68, 68, 68, 0.6);
  box-shadow: 0px 3px 20px -2px rgba(20, 45, 100, 0.5);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=true, ShadowOpacity=0.30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  zoom: 1;
}

.animation:hover {
  border-color: #0b5ed7;
}

.packageName {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 78%;
}

#notFound {
  text-align: center !important;
}

#listSearch {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
  top: -21px !important;
}

#divx {
  background-color: #212529;
  position: fixed;
  height: 40px;
  width: 100%;
  top: 0;
  padding-left: 10px;
  padding-top: 5px;
  vertical-align: middle;
  z-index: 9999;
}

.dropdown-menu {
  overflow-y: hidden;
  min-height: 62px;
  max-height: 306px;
}

.dropdown-menu:hover {
  overflow-y: auto;
}

.div-drop {
  vertical-align: middle;
  display: flex;
}

.btn-group-none {
  border-radius: 0.25rem !important;
}

.dropdownMenuButton {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  font-size: 11pt !important;
  padding: 1px 4px 1px 4px !important;
  height: 25px !important;
  vertical-align: middle !important;
  text-align: center !important;
  margin-right: 10px;
}

.dropdownMenuButton:hover {
  background-color: #6c757d !important;
}

.dropteste {
  background-color: #6c757d !important;
  padding: 2px 8px 2px 8px !important;
  margin: 0 !important;
  width: auto !important;
  min-height: 15px !important;
  min-width: 60px !important;
}

.theme {
  color: #fff !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 12pt !important;
}

#packageSearchHelpBlock {
  height: 21px;
}

#divMain {
  margin-top: 80px;
}

/* .divxButton {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 10pt;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  float: left;
  margin-right: 8px;
  color: #fff;
} */

/* .divxButton:hover {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
} */

#scroll-bar {
  overflow-y: auto;
  height: 300px;
  position: absolute;
}

@media screen and (min-width: 800px) {
  .search {
    padding: 0 0.1rem 0 0.15rem;
  }

  .animation:hover {
    transform: scale(1.05);
    border-color: #0b5ed7;
  }
}

#packageSearched {
  -moz-box-shadow: 0px 0px 20px 0px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(68, 68, 68, 0.6);
  box-shadow: 0px 0px 30px -2px rgba(20, 45, 100, 0.5);

  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=true, ShadowOpacity=0.30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  zoom: 1;
}

#buttonSearche {
  -moz-box-shadow: 0px 0px 20px 0px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(68, 68, 68, 0.6);
  box-shadow: 3px 0px 30px -2px rgba(20, 45, 100, 0.5);

  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3, MakeShadow=true, ShadowOpacity=0.30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  zoom: 1;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*DARK MODE*/

.darkTheme {
  background-color: rgba(31, 31, 31, 0.95);
  color: #e8eaed !important;
}
.darkThemeUl {
  background-color: rgba(31, 31, 31, 1);
  color: #e8eaed !important;
  scrollbar-track-color: rgba(31, 31, 31, 1);
}

.input-dark,
.input-dark:hover,
.input-dark:focus {
  background-color: transparent !important;
  color: #929292;
}

.dark-card {
  -moz-box-shadow: 0px 0px 20px 0px rgba(19, 19, 19) !important;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(19, 19, 19) !important;
  box-shadow: 0px 3px 20px -2px rgba(0, 0, 255, 0.9) !important;
}

.div-grey,
.div-grey:hover,
.div-grey:focus {
  background-color: rgba(146, 146, 146, 0.2) !important;
}

/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(67, 0, 93);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 6px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
} */

/* input:checked + .slider {
  background-color: #0b5ed7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
} */

/* Rounded sliders */
/* .slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
} */
